.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrusel {
  width: 100%;
  overflow: hidden;
}

.carrusel ul {
  padding: 0;
  display: flex;
  width: 300%;
  animation: carruselimg 15s infinite;
}

.carrusel li {
  width: 100%;
  list-style: none;
}

.carrusel img {
  width: 100%;
  height: 500px;
}

@keyframes carruselimg {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.titleCarrusel {
  font-size: 2.5rem;
  text-align: start;
  margin: 0 0 -6rem 4rem;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  width: max-content;
}

.contentCarrousel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  justify-content: center;
}

.butonsCarrosuel:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}
/*-----------caterogias------------------  */
.categoris {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}

.categotiImportant {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.categotiImportant:hover {
  transform: scale(1.02);
}

.categotiImportant h4 {
  background-color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 40px;
  font-size: 3rem;
  position: absolute;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.contentSecundari {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  width: 250px;
  height: 250px;
  margin: 1rem 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 250px;
}

.card h4 {
  background-color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------- */

.contentGalery {
  display: flex;
  justify-content: center;
}

.galleryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #ea047e;
  margin: 0 2rem;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.marcas {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #eee;
}

.contentFondo {
  margin-top: -6.4rem;
  width: 100%;
  height: 50%;
  background: url("https://img.freepik.com/vector-premium/fondos-abstractos-formas-geometricas-dibujar-mano-formas-liquidas-colores-pastel_147635-272.jpg?w=2000");
  background-size: 100%;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
}

.titleGalery {
  font-size: 2.5rem;
  text-align: justify;
  margin: 0 4rem;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  width: 35rem;
}

.boton {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 30%;
  margin: 5rem auto;
  text-align: center;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
