.content {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; 
}

.carrusel {
  width: 95%;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carrusel ul {
  padding: 0;
  display: flex;
  width: 300%;
  animation: carruselimg 15s infinite;
}

.carrusel li {
  width: 100%;
  list-style: none;
}

.carrusel img {
  width: 100%;
  height: 500px;
}

@keyframes carruselimg {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}

.slider {
  width: 75%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 200%;
  animation: carrusel 20s infinite;
}

.slider li {
  width: 100%;
  list-style: none;
}

@keyframes carrusel {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -101%;
  }
  45% {
    margin-left: -101%;
  }

  50% {
    margin-left: -202%;
  }
  70% {
    margin-left: -202%;
  }

  75% {
    margin-left: -238%;
  }
  100% {
    margin-left: -238%;
  }
}

.boton {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 100%;
  margin: 20px 400px;
  text-align: center;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
