.container_detail {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text_detail {
  width: 80%;
  height: 100%;
  color: rgb(22, 24, 26);
  padding: 40px;
  font-size: 100%;
  text-align: left;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text_detail:hover {
  box-shadow: 5px 5px 10px rgb(247, 241, 241);

  opacity: 1;
}

.img_detail img {
  position: relative;
  left: 20%;
  top: 2rem;
  height: 25rem;
  width: 20rem;
  transition: all ease 0.5s;
  border-color: #f3efed;

  box-shadow: 0 0 20px #77706e, 0 0 60px #77706e, 0 0 20px #77706e;
}
.img_detail img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
  transform: scale(1.1);
  opacity: 1;
}

.button_compra1 {
  right: 30%;
}
.price_detail {
  color: #ea047e;

  font-family: "Inter";
}
