.cart {
  padding: 20px;
  width: 40rem;
  height: max-content;
  margin: 2rem 0;
  border-radius: 20px;
  text-align: center;
  background-color: #eee;
}

.contentAll {
  margin-top: 1rem;
}

.viewAll {
  border-bottom: 1px solid #999;
}
