.content {
  background-color: #fff;
  display: flex;
}

.cards {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filtros {
  background-color: #fff;
  width: 200px;
  height: 90vh;
  margin: 20px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.filtros select:hover {
  color: #ea047e;
}
.inconfilter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inconfilter h2 {
  position: relative;
  right: 70%;
}

.filtros h4 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0;
}
